{% if page.discuzTid %}
<div id='disqus_thread' style="border:1px solid #CDCDCD;background-color:#CDCDCD;"></div>
      <script type='text/javascript'>
      $(document).ready(function(){ 
      		$.get("http://bbs.redis.cn/forum.php?mod=viewthread1&tid={{page.discuzTid}}", function(result){
				    $("#disqus_thread").html(result);
				  });
      });
      </script>
</div>
{% endif %}
<footer class='site-footer'>
        <div class='container'>
          本站资源翻译自<a href="http://redis.io" target="_blank">redis.io</a>，
					由<a href="/aboutus.html">redis.cn翻译团队</a>翻译，
					更新日志请点击<a href="/update.html">这里</a>查看，
					翻译原文版权归redis.io官方所有，翻译不正确的地方欢迎大家指出。<br> 
					感谢各界爱心人士的热心捐赠，CRUG的成长离不开大家的帮助和支持，特别是<a href="/donation.html">Redis捐赠清单</a>里面的各位伙伴。<br>
					联系Email:<a href="mailto:admin@redis.cn">admin@redis.cn</a>，
					redis交流群：<a href="#">187095642</a> &nbsp; 
					<a href="http://www.miibeian.gov.cn" target="_blank">京ICP备15003959号</a> &nbsp;
					<script src='http://s22.cnzz.com/stat.php?id=3593514&web_id=3593514' language='JavaScript'></script>
					<br>    
					<span style="font-weight:bold;color:#000000;">友情链接：</span>
					<a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=fvilu0rm" target="_blank">阿里云</a> &nbsp;
					<a href="http://mdba.cn" target="_blank">DBA的罗浮宫</a> &nbsp;
					<a href="http://mdba.cn" target="_blank">VIP-陈群博客</a> &nbsp;
					<a href="http://lib.csdn.net/base/redis" target="_blank">Redis-知识库</a> &nbsp;
					<a href="http://www.kubernetes.org.cn" target="_blank" >Kubernetes</a> &nbsp;	
        	<a href="https://www.fanghouguo.com" target="_blank" >方后国的博客</a> &nbsp;	
				</div>
      </footer>
    </div>
    
    <script type="text/javascript" src="/js/layer/layer.js"></script> 
    
    <script type="text/javascript">
		$(document).ready(function(){ 
				if($('#alert_div').length){
					layer.open({
					  time: 10,
					  title:'<span style="font-weight:bold;">Redis线上分享会</span>',
					  style:'padding:0',
					  content: $('#alert_div').html()
					}); 
				}
		});
	</script>

  </body>
</html>