<footer class='site-footer'>
        <div class='container'>
          本站资源翻译自<a href="http://redis.io" target="_blank">redis.io</a>，
					由<a href="/aboutus.html">redis.cn翻译团队</a>，
					更新日志请点击<a href="/update.html">这里</a>查看，
					翻译原文版权归redis.io官方所有，翻译不正确的地方欢迎大家指出。<br>
					redis.cn网站投放的广告收入用于维护本站所需的各种费用，谢谢大家的理解和支持。<br>        
					联系Email:<a href="mailto:admin@redis.cn">admin@redis.cn</a>，
					redis交流群：<a href="#">112121693</a> &nbsp; 
					<a href="http://www.miibeian.gov.cn">京ICP备15003959号</a> &nbsp;
					<script src='http://s22.cnzz.com/stat.php?id=3593514&web_id=3593514' language='JavaScript'></script>
        </div>
      </footer>
    </div>
  </body>
</html>
<script src='/js/jquery-1.4.4.min.js?1426205838'></script>
<script src='/js/slideout.js?1426205838'></script>
<script src='/js/app.js?1436878127'></script>
 