<script type='text/javascript'>
	function aliCallBack(json){
		if(json && json.success && json.data){
			var adjson = eval(json.data[0].content);
			if(adjson){
				$("#ali_nav").html('<a href="'+adjson[0].URL+'" target="_blank"><img src="'+adjson[0].img+'" style="width:100%;height:100%;" data-bd-imgshare-binded="1"></a>');
			}
		}
	}
	
$(document).ready(function(){ 
		if($("#ali_nav").length){
				$.ajax({
             type: "get",
             async: false,
             url: "https://promotion.aliyun.com/promotion/adv/getAliyunAdv.htm?s=0df56e5827cb4947b8050f4ea282609d&p=page_1474882843539&pin=pos_1475983591976&cback=aliCallBack",
             dataType: "jsonp"
         });
    }
});
</script>
