* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

.content {
    width: 100%;
    margin: 0 auto;
	max-width:1100px;
	min-width:640px;
}

.content .mainTitle {
    height: 30px;
    padding: 10px;
    background: #3A434C;
    color: white;

}

table {
    width: 100%;
	text-align:center;
}

table tr:nth-child(odd) {
    background: #F9F9F9;
}

table tr {
    height: 50px;
    border: 1px solid #EFEFEF;
}

table tr td {
    width: 15%;
}

table tr td input {
    width: 50%;
    height: 30px;
    text-align: center;
}
table tr td lable {
    display: inline-block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #A9A9A9;
	font-weight: bold;
}
.content .con {
    height: 50px;
    margin-top: 30px;
    border-bottom: 1px solid darkgrey;
	text-align:center;
}

.content .con button {
    text-align: center;
    width: 15%;
    height: 36px;
    background: #6999E5;
    border: #6999E5;
    color: white;
}

.content .conPie{
    
}
.content #calSize {
    height:55px;
	line-height:55px;
	font-weight: bold;
	text-align:center;
    /*height: 50px;*/
    /*border: 1px solid black;*/
}
.content #conMain{
    width: 100%;
    margin: 0 auto;
	max-width:1100px;
	min-width:640px;
	height:400px;
}