<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/commands/cluster-addslots.html'>
                      CLUSTER ADDSLOTS
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-count-failure-reports.html'>
                      CLUSTER COUNT-FAILURE-REPORTS
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-countkeysinslot.html'>
                      CLUSTER COUNTKEYSINSLOT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-delslots.html'>
                      CLUSTER DELSLOTS
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-failover.html'>
                      CLUSTER FAILOVER
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-forget.html'>
                      CLUSTER FORGET
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-getkeysinslot.html'>
                      CLUSTER GETKEYSINSLOT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-info.html'>
                      CLUSTER INFO
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-keyslot.html'>
                      CLUSTER KEYSLOT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-meet.html'>
                      CLUSTER MEET
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-nodes.html'>
                      CLUSTER NODES
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-replicate.html'>
                      CLUSTER REPLICATE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-reset.html'>
                      CLUSTER RESET
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-saveconfig.html'>
                      CLUSTER SAVECONFIG
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-set-config-epoch.html'>
                      CLUSTER SET-CONFIG-EPOCH
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-setslot.html'>
                      CLUSTER SETSLOT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-slaves.html'>
                      CLUSTER SLAVES
                    </a>
                  </li>
                  <li>
                    <a href='/commands/cluster-slots.html'>
                      CLUSTER SLOTS
                    </a>
                  </li>
                  <li>
                    <a href='/commands/readonly.html'>
                      READONLY
                    </a>
                  </li>
                  <li>
                    <a href='/commands/readwrite.html'>
                      READWRITE
                    </a>
                  </li>
                </ul>
              </aside>
            </div>