<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/commands/auth.html'>
                      AUTH
                    </a>
                  </li>
                  <li>
                    <a href='/commands/echo.html'>
                      ECHO
                    </a>
                  </li>
                  <li>
                    <a href='/commands/ping.html'>
                      PING
                    </a>
                  </li>
                  <li>
                    <a href='/commands/quit.html'>
                      QUIT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/select.html'>
                      SELECT
                    </a>
                  </li>
                </ul>
                 <script type="text/javascript">
                 		if(isShowAd){
	                 		if(isMobileBrowser()){
				
											}else{
									    	var cpro_id = "u2567445";
									    	document.write('<scr'+'ipt src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></scr'+'ipt>');
									  	}
								  	}
								</script>
              </aside>
            </div>