<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/commands/auth.html'>
                      AUTH
                    </a>
                  </li>
                  <li>
                    <a href='/commands/echo.html'>
                      ECHO
                    </a>
                  </li>
                  <li>
                    <a href='/commands/ping.html'>
                      PING
                    </a>
                  </li>
                  <li>
                    <a href='/commands/quit.html'>
                      QUIT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/select.html'>
                      SELECT
                    </a>
                  </li>
                </ul>
              </aside>
            </div>