<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/commands/del.html'>
                      DEL
                    </a>
                  </li>
                  <li>
                    <a href='/commands/dump.html'>
                      DUMP
                    </a>
                  </li>
                  <li>
                    <a href='/commands/exists.html'>
                      EXISTS
                    </a>
                  </li>
                  <li>
                    <a href='/commands/expire.html'>
                      EXPIRE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/expireat.html'>
                      EXPIREAT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/keys.html'>
                      KEYS
                    </a>
                  </li>
                  <li>
                    <a href='/commands/migrate.html'>
                      MIGRATE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/move.html'>
                      MOVE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/object.html'>
                      OBJECT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/persist.html'>
                      PERSIST
                    </a>
                  </li>
                  <li>
                    <a href='/commands/pexpire.html'>
                      PEXPIRE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/pexpireat.html'>
                      PEXPIREAT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/pttl.html'>
                      PTTL
                    </a>
                  </li>
                  <li>
                    <a href='/commands/randomkey.html'>
                      RANDOMKEY
                    </a>
                  </li>
                  <li>
                    <a href='/commands/rename.html'>
                      RENAME
                    </a>
                  </li>
                  <li>
                    <a href='/commands/renamenx.html'>
                      RENAMENX
                    </a>
                  </li>
                  <li>
                    <a href='/commands/restore.html'>
                      RESTORE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/scan.html'>
                      SCAN
                    </a>
                  </li>
                  <li>
                    <a href='/commands/sort.html'>
                      SORT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/ttl.html'>
                      TTL
                    </a>
                  </li>
                  <li>
                    <a href='/commands/type.html'>
                      TYPE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/wait.html'>
                      WAIT
                    </a>
                  </li>
                </ul>
              </aside>
            </div>