<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/commands/eval.html'>
                      EVAL
                    </a>
                  </li>
                  <li>
                    <a href='/commands/evalsha.html'>
                      EVALSHA
                    </a>
                  </li>
                  <li>
                    <a href='/commands/script-exists.html'>
                      SCRIPT EXISTS
                    </a>
                  </li>
                  <li>
                    <a href='/commands/script-flush.html'>
                      SCRIPT FLUSH
                    </a>
                  </li>
                  <li>
                    <a href='/commands/script-kill.html'>
                      SCRIPT KILL
                    </a>
                  </li>
                  <li>
                    <a href='/commands/script-load.html'>
                      SCRIPT LOAD
                    </a>
                  </li>
                </ul>
              </aside>
            </div>