<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/commands/bgrewriteaof.html'>
                      BGREWRITEAOF
                    </a>
                  </li>
                  <li>
                    <a href='/commands/bgsave.html'>
                      BGSAVE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/client-getname.html'>
                      CLIENT GETNAME
                    </a>
                  </li>
                  <li>
                    <a href='/commands/client-kill.html'>
                      CLIENT KILL
                    </a>
                  </li>
                  <li>
                    <a href='/commands/client-list.html'>
                      CLIENT LIST
                    </a>
                  </li>
                  <li>
                    <a href='/commands/client-pause.html'>
                      CLIENT PAUSE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/client-setname.html'>
                      CLIENT SETNAME
                    </a>
                  </li>
                  <li>
                    <a href='/commands/command.html'>
                      COMMAND
                    </a>
                  </li>
                  <li>
                    <a href='/commands/command-count.html'>
                      COMMAND COUNT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/command-getkeys.html'>
                      COMMAND GETKEYS
                    </a>
                  </li>
                  <li>
                    <a href='/commands/command-info.html'>
                      COMMAND INFO
                    </a>
                  </li>
                  <li>
                    <a href='/commands/config-get.html'>
                      CONFIG GET
                    </a>
                  </li>
                  <li>
                    <a href='/commands/config-resetstat.html'>
                      CONFIG RESETSTAT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/config-rewrite.html'>
                      CONFIG REWRITE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/config-set.html'>
                      CONFIG SET
                    </a>
                  </li>
                  <li>
                    <a href='/commands/dbsize.html'>
                      DBSIZE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/debug-object.html'>
                      DEBUG OBJECT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/debug-segfault.html'>
                      DEBUG SEGFAULT
                    </a>
                  </li>
                  <li>
                    <a href='/commands/flushall.html'>
                      FLUSHALL
                    </a>
                  </li>
                  <li>
                    <a href='/commands/flushdb.html'>
                      FLUSHDB
                    </a>
                  </li>
                  <li>
                    <a href='/commands/info.html'>
                      INFO
                    </a>
                  </li>
                  <li>
                    <a href='/commands/lastsave.html'>
                      LASTSAVE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/monitor.html'>
                      MONITOR
                    </a>
                  </li>
                  <li>
                    <a href='/commands/role.html'>
                      ROLE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/save.html'>
                      SAVE
                    </a>
                  </li>
                  <li>
                    <a href='/commands/shutdown.html'>
                      SHUTDOWN
                    </a>
                  </li>
                  <li>
                    <a href='/commands/slaveof.html'>
                      SLAVEOF
                    </a>
                  </li>
                  <li>
                    <a href='/commands/slowlog.html'>
                      SLOWLOG
                    </a>
                  </li>
                  <li>
                    <a href='/commands/sync.html'>
                      SYNC
                    </a>
                  </li>
                  <li>
                    <a href='/commands/time.html'>
                      TIME
                    </a>
                  </li>
                </ul>
              </aside>
            </div>