{% include head.html %}
{% include header.html %}

<div class='text'>
          <h1 class='command'>
            <span class='name'></span>
            <span class='arg'></span>
          </h1>
          <article>
            <div class='article-main'>
              <div class='metadata'>
              </div>
              
              {{ content }}
              
            </div>
{% include commands/{{ page.commandsType}}.html %}
            </article>
        </div>

{% include footer.html %}
<script src='/js/commands.js?1426205831'></script>