{% include head.html %}
{% include header.html %}
<div class='text'>
	<article id='topic'>
		{{ content }}
	</article>
	{% if page.tranAuthor %}
	<article id='tranAuthor'>
	{% include author/{{ page.tranAuthor}}.html %}
	</article>
	{% endif %}
</div>
<script>
		if(isRediscnPc()){
			var s = "_" + Math.random().toString(36).slice(2);
			document.write('<div style="margin-bottom:10px;" id="' + s + '"></div>');
			(window.slotbydup = window.slotbydup || []).push({
				id: "u3556359",
				container:  s
			});
			document.write('<scr'+'ipt type="text/javascr'+'ipt" src="//cpro.baidustatic.com/cpro/ui/c.js" async="async" defer="defer" ></scr'+'ipt>');
		}
	
</script>
{% include footer.html %}
{% include footer_all.html %}